<div style="float: left; text-align: center; margin: 0 15px 15px 0;">
	<img src="/images/profile/<%- user.picture %>.jpg" /><br /><br />
	<a href="">Upload a new picture</a>
</div>
<h1><%- user.firstName %> <%- user.lastName %> <small>(<%- user.username %>)</small></h1>
